<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="example-container">
    <h1>LogIn</h1>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <div><button mat-raised-button color="accent" type="submit">Login</button></div>
      <div><h5>OR</h5></div>
      <div><button mat-raised-button color="primary" type="submit">Login with LinkedIn</button></div>
    </form>

  </div>

</mat-card>
