
    <div class="web-app">








                <div class="page contextual-page">
                    <div class="inner">


                        <div class="row">
						<h1>About Us</h1>
                            <div class="col-xs-12 col-md-6">
                                <div class="text-widget">
                                    <h4>Introduction</h4><br>
                                    Lorem ipsum dolor sit am consectetuer adipisc elit sed diam nonumy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpt wurisi enim ad minim veniam.
                                    <br><br>
                                    <h4>How we can help</h4><br>
                                    Lorem ipsum dolor sit am consectetuer adipisc elit sed diam nonumy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpt wurisi enim ad minim veniam.
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <h4>What we’re good at</h4><br>
                                <strong>Marketing</strong>
                                <br>
                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                <strong>Development</strong>
                                <br>
                                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                <strong>It</strong>
                                <br>
                                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                                <strong>Jobs success rate</strong>
                                <br>
                                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>

                            </div>
                        </div>

                        <div class="row border-separated-column border-top mt-100">
                            <div class="col-xs-12 col-sm-4">
                                <div class="text-with-icons">
                                    <div class="widget-icon">
                                        <span class="fa fa-star-o"></span>
                                    </div>
                                    <h3 class="tc1">764</h3>
                                    <strong>cups of coffee</strong>
                                    <p>Lorem ipsum dolor met consectetur adipiscing elit. Sed a nulla ipsum itur pulvinar enim non justo.</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="text-with-icons">
                                    <div class="bg2 widget-icon">
                                        <span class="fa fa-heart-o"></span>
                                    </div>
                                    <h3 class="tc2">8345</h3>
                                    <strong>Happy users</strong>
                                    <p>Lorem ipsum dolor met consectetur adipiscing elit. Sed a nulla ipsum itur pulvinar enim non justo.</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="text-with-icons">
                                    <div class="bg9 widget-icon">
                                        <span class="fa fa-thumbs-o-up"></span>
                                    </div>
                                    <h3 class="tc9">14609</h3>
                                    <strong>Ads posted</strong>
                                    <p>Lorem ipsum dolor met consectetur adipiscing elit. Sed a nulla ipsum itur pulvinar enim non justo.</p>
                                </div>
                            </div>
                        </div>







                    </div>
                </div>



    </div>

    <!--======================================
   Modals
   =======================================-->




    <!--========================================
    Javascript
    ===========================================-->
    <script src="assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="assets/lib/slick-carousel/slick/slick.min.js"></script>
    <script src="assets/js/app.js"></script>


